[Desktop Entry]
Comment=A Round Blur kvantum theme, based off of my solid ink theme.
Name=Smoke
X-KDE-PluginInfo-Author=Mantacid
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=mantacid@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=Smoke
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/mantacid
X-KDE-ServiceTypes=Plasma/LookAndFeel
