[submodule ".local/share/zinit/plugins/Aloxaf---fzf-tab"]
	path = .local/share/zinit/plugins/Aloxaf---fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule ".local/share/zinit/plugins/romkatv---powerlevel10k"]
	path = .local/share/zinit/plugins/romkatv---powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".local/share/zinit/plugins/zsh-users---zsh-autosuggestions"]
	path = .local/share/zinit/plugins/zsh-users---zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".local/share/zinit/plugins/zsh-users---zsh-conpletions"]
	path = .local/share/zinit/plugins/zsh-users---zsh-conpletions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".local/share/zinit/plugins/zsh-users---zsh-completions"]
	path = .local/share/zinit/plugins/zsh-users---zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".local/share/zinit/plugins/zsh-users---zsh-syntax-highlighting"]
	path = .local/share/zinit/plugins/zsh-users---zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".local/share/zinit/zinit.git"]
	path = .local/share/zinit/zinit.git
	url = https://github.com/zdharma-continuum/zinit
